doctype html
html(lang="en")
  head
    title Will Binns-Smith
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-52485414-1', 'auto');
      ga('send', 'pageview');
    meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0")
    meta(name="description", content="I'm a JavaScript-obsessed fullstack engineer loving all things mobile and all things different.")
    link(rel="shortcut icon" href="favicon.ico")
    link(rel="stylesheet" href="index.css")
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css')
  body
    main.main
      .Panel.Panel--main
        h1.Panel-title Will Binns-Smith
        h3.Panel-subtitle.
          A JavaScript-obsessed fullstack engineer loving all things mobile
          and all things different.
        .contact
          a(href="http://twitter.com/wbinnssmith")
            img.contact-logo(src="logo-twitter.svg")
          a(href="http://github.com/wbinnssmith")
            img.contact-logo(src="logo-github.svg")
          a(href="http://facebook.com/wbinnssmith")
            img.contact-logo(src="logo-facebook.svg")
          a(href="http://linkedin.com/in/wbinnssmith")
            img.contact-logo(src="logo-linkedin.svg")
        img.profile-img(src="profile.jpg")

      h2.Panel-title Here's some stuff I've built.

      .Panel
        h2.Panel-title.u-texthidden.padded
          | Bonobos
          img.logo(src="logo-bonobos.svg")
        .Panel-body
          p.
            I developed much of the frontend shopping cart functionality on <a
              href="http://bonobos.com">Bonobos.com</a>, which eliminated a full page load from the store and raised customer conversion by a statistically significant percentage.
          p.
            I worked one-on-one with designers to bring a desktop-viewport only website to one that's completely optimized for smaller, touch-based devices.
          p.
            I began with Bonobos in our Palo Alto, California office and soon relocated to
            NYC to build our technology team from 2 engineers to a team of 20+. I'm
            incredibly proud of the technology team we've built in our NYC headquarters.
        img.img-block(src="bonobos-cart.jpg")

      .Panel
        h2.Panel-title.u-texthidden.padded
          | AYR
          img.logo(src="logo-ayr.svg")
        p.Panel-body.
          I developed all of the frontend infrastructure and automation in node for Bonobos's
          next-generation platform, beginning with <a
            href="http://ayr.com" target="blank">AYR</a>, which is a 100% JavaScript frontend client to our core ecommerce services. I live and breathe JavaScript, obsessing over nuances in experiences of customers and business users.
        img.img-block(src="ayr-home.jpg")

      .Panel
        h2.Panel-title Technologies I Love
        .tech-logos
          img.tech-logo(src="logo-js.svg")
          img.tech-logo(src="logo-node.svg")
          img.tech-logo(src="logo-ruby.svg")
          img.tech-logo(src="logo-npm.svg")
          img.tech-logo(src="logo-webcomponents.svg")

    footer.footer
      ul
        li.
          <a href="http://commons.wikimedia.org/wiki/File:Ruby_logo.svg">Ruby
          Logo</a> from Yukihiro Matsumoto and the Ruby Visual Identity Team.
        li.
          <a href="http://ohdoylerules.com/personal-project/npm-logo-svg">npm
          logo</a> is a trademark of npm, Inc.
        li.
          <a href="http://webcomponents.org/">Web components logo</a> from the
          webcomponents.org contributors.
        li.
          <a href="http://nodejs.org/logos/">Node.js</a> is a trademark of
          Joyent, Inc.

  script(src="svg-injector.js")
  script.
    SVGInjector(document.querySelectorAll('.contact-logo'))

